@media screen and (min-width: 1000px){
    main{ 
        width: 93%;
        margin: 0 auto;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #polaroid1{
        grid-column: 1/2;
        grid-row: 1/2;
        margin-right: 10px;
    }

    #polaroid2{
        grid-column: 2/3;
        grid-row: 1/2;
        margin-right: 10px;
        margin-left: 10px;
    }

    #polaroid3{
        grid-column: 3/4;
        grid-row: 1/2;
        margin-left: 10px;
    } 

    h1{
        font-size: 40px;
    }
}