@media screen and (min-width: 1000px){

nav ul li a{
    padding: .5rem 1 rem;
}

nav button{
    display: none;
}



#main-grid{
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#hero{
    grid-column: 2/3;
    grid-row: 1/3;
}

#news_release{
    grid-column: 2/3;
    grid-row: 3/4;
}

#all_spotlights{
    flex-direction: column;
    grid-column: 3/4;
    grid-row: 1/4;
    justify-content: center;
    gap: 20px;
}

#spotlight1{
    width: 78%;
}

#spotlight2{
    width: 78%;
}

#spotlight3 {
    display: block;
}

#join{
    grid-column: 1/2;
    grid-row: 3/4;
}
#event{
    grid-column: 1/2;
    grid-row: 1/2;
}
#weather{
    grid-column: 1/2;
    grid-row: 2/3;
}




}