@media screen and (min-width: 1000px){

/* nav ul li a{
    padding: .5rem 1rem;
}

nav button{
    display: none;
} */

#content{
    max-width: 95%;
    margin:0 auto;
}

/* #hero{
  position: relative;
  background-image: url(../images/ogdenfinal.jpg);
  background-image: url(../images/ogden-img-900.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */

nav {
    position: static;
}
nav ul {
  flex-direction: row;
  justify-content: space-evenly;
}
nav ul li:first-child {
  display: none;
}
nav ul li {
  display: block;
}
header {
  font-size: 1em;
}
#logo {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 50%;
  padding-left: 20px;
}
#top header {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
}
nav {
  grid-column: 4/6;
  width: 100%;
}
nav li {
  padding: 25px;
}
#social {
  grid-column: 7/8;
  width: 100%;
}


#main-grid{
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#hero{
  grid-column: 2/3;
  grid-row: 1/3;
}

#news_release{
  grid-column: 2/3;
  grid-row: 3/4;
}

#all_spotlights{
  flex-direction: column;
  grid-column: 3/4;
  grid-row: 1/4;
  justify-content: center;
  gap: 20px;
}

#spotlight1{
  width: 85%;
  margin: 0 auto;
  padding-top:22px;
  padding-bottom: 22px;
}

#spotlight2{
  width: 85%;
  margin: 0 auto;
  padding-top:22px;
  padding-bottom: 22px;
}

#spotlight3 {
  display: block;
  width: 85%;
  margin: 0 auto;
  padding-top:22px;
  padding-bottom: 22px;
}

#join{
  grid-column: 1/2;
  grid-row: 3/4;
}
#event{
  grid-column: 1/2;
  grid-row: 1/2;
}
#weather{
  grid-column: 1/2;
  grid-row: 2/3;
}

/* #hero-img{
  display: block;
  object-fit: cover;
} */

picture img{
  object-fit:cover;
  width:100%;
  height:100%;
}

#hero-title{
  position: absolute;
  left: 500px;
  top: 475px;

}

#hero-btn{
  position: absolute;
  top: 600px;
  left: 550px;
  font-size: 20px;
  padding: 20px;
}

.logo{
  grid-column: 1/2;
}

/* Discover */
#discover_content {
  max-width: 95%;
    margin: 0 auto;
  font-family: Gothic, sans-serif;
  color: black;
  background-color: #FFF0D8;
  text-align: center;
}

#discover_grid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.disc_pic img:hover {
  box-shadow: 0 0 15px #333;
}

#datevisit{
  margin-top: 50px;
}





/* Form */

#page_content{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#form{
  grid-column: 1/2;
}

#membership{
  grid-column: 2/3;
}

/* #membership {
  margin-left: 500px;
  margin-bottom: 30px;
} */


#page-content{
  display:flex;
  flex-wrap: wrap;
}


}