@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700&family=Prata&display=swap');

#content {
    margin: 0px;
    font-family: Gothic, sans-serif;
    color: black;
    background-color: #FFF0D8;
}

/* nav button{
    margin: .2rem 2vw;
    background-color: transparent;
    border:none;
    font-size: 2rem;
    color: #555 ;
}

nav ul{
    list-style-type: none;
    margin: 0;
}


nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    /* border-top: 1px solid rgba(0,0,0,0.5); */
/* }

nav ul li.active a{
    background-color: rgba(0,0,0,0.2);
    color: white;
}

nav ul li a:hover{
    background-color: rgba(0,0,0,0.3);
}

nav ul{
    display: none;
    width: 90%;
}
nav ul.open{
    display:block;
}

nav ul li a{
    width:90%;
} 

#hambutton span:nth-child(1){display:block;}
#hambutton span:nth-child(2){display:none;}

#hambutton.open span:nth-child(1){display:none;}
#hambutton.open span:nth-child(2){display:block;}

nav{
    padding: 5px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 2em;
    align-content: center;
}  */



#social {
    grid-column: 7/8;
}
#social{
    width: 2em;
    padding: 5px;
}
nav {
    /* background-color:  #309981; */
    grid-column: 1/2;
    grid-row: 1/2;
    /* position: fixed; 
    top: 30px;
    z-index: 1; */
}
nav span{
    font-size: 1.5em;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
}
nav li {
    padding: 15px;
    display: none;
    width: 200px;
}
nav li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    
}
nav li a:first-child {
   
    color: black;
}
nav li:hover {
    background-color: #f1998c;
}
nav li:hover:first-child {
    width: 40px;
}
nav li a:hover {
    color: black;
}
nav li:first-child {
    display: block;
}
.responsive li {
    display: block;
    background-color: #d86b56;
}
.responsive li a {
    width: 200px;
}
.ham {
    text-align: center;
    
}
.ham span {
    background-color:#D86B56;
    border: 1px solid black;
    width: 38px;
}
.ham span:nth-child(1) {
    display: block;
}
.ham span:nth-child(2) {
    display: none;
}
.ham.responsive span:nth-child(1) {
    display: none;
}
.ham.responsive span:nth-child(2) {
    display: block;
}
#top {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
}
#top header {
    width: 80%;
    grid-column: 3/7;
}


#day_announcement{
    display: block;
    text-align: center;
    background-color: white;
    padding: 8px;
    margin-top: 10px;
    line-height: 25px;
}

#current-date{
    text-align: center;
    background-color: white;
    padding:6px;
}

#main-grid{
    display: grid;
    grid-template-columns: 1fr;
    margin:10px;
}

.box {
    min-height: 200px;
    background-color: #96BBD8;
    border: 1px solid #333333;
    margin: 8px;
    padding: 20px;
}

#all_spotlights{
    background-color: #96BBD8;
    border: 1px solid #333333;
    margin: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#spotlight3{
    display:none;
}

#join{
    display:none;
}


h2{
    font-family: Prata, serif;
    font-size: 18px;
    text-align: center;
}

#message1{
    font-family: Prata, serif;
    font-size: 20px;
    text-align: center;
}


.logo{
    width:60px;
    align-self: center;
    grid-column: 1/2;
}


.social{
    width:25px;
    align-self: center;
}

#name{
    margin-top: -15px; 
}


footer{
    /* grid-template-columns: 1fr 1fr; */
    width:100%;
    margin: 0 auto;
    text-align: center;
    line-height: 10px;
    font-size: 15px;
    padding: 8px;
    padding-top: 18px;
    background-color: white;
}

/* #project_info{
    grid-column: 1/2;
} */

#student_info{
    border-top: 1px solid rgba(0,0,0,0.5);
    margin-top:20px;
    font-size: 12px;
    /* grid-column: 2/3; */
}

#hero{
    position: relative;
    background-image: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* #hero-img{
    width: 50px;
    object-fit: contain;
    overflow: hidden;
} */



#hero-title{
    position: absolute;
    left: 33px;
    top: 50px;
    background-color: #FFFFFFb1;
    padding: 5px;
    max-width: 80%;
    /* box-shadow: 0px 0px 10px #FFFFFF; */
    border-radius: 2px;
}

#hero-btn button{
    position: absolute;
    padding: 10px;
    background-color: #733A32;
    color:white;
    top: 160px;
    left: 110px;
}

p{
    text-align: center;
}

h3{
    text-align: center;  
}

#join-btn{
    padding: 15px 30px 15px 30px;
    background-color: #733A32;
    color:white;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

#location{
    text-decoration: none;
}