@media screen and (min-width: 650px){

nav button{
    display: none;
}

nav ul#primarynav{
    display: flex;
    justify-content: left;
    margin-left: 2vw;
    /* border-left: 1px solid rgba(0,0,0,0.3); */
}

nav ul li a{
    border: none;
    /* border-right: 1px solid rgba(0,0,0,0.3); */

}

#main-grid{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr .5fr .5fr .5fr .5fr;
}

#hero{
    grid-column: 1/3;
    grid-row:1/2;
}

#news_release{
    grid-column: 1/3;
    grid-row:2/3;
}

#all_spotlights{
    flex-direction: row;
    grid-column: 1/3;
    grid-row: 3/4;
    justify-content: center;
    gap: 0px;
}

#spotlight1{
    width:40%;
}

#spotlight2{
    width:40%;
}

#spotlight3{
    display:none;
}

#join{
    display:block;
    grid-column: 1/3;
    grid-row:4/5;
}

#event{
    grid-column: 1/2;
    grid-row:5/6;
}

#weather{
    grid-column: 2/3;
    grid-row:5/6;
}





}