@media screen and (min-width: 650px){

#content{
    max-width: 95%;
    margin:0 auto;
}

/* nav button{
    display: none;
}

nav ul#primarynav{
    display: flex;
    justify-content: left;
    margin-left: 2vw;
    border-left: 1px solid rgba(0,0,0,0.3);}

nav ul li a{
    border: none;
    border-right: 1px solid rgba(0,0,0,0.3); }*/


#main-grid{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr .5fr .5fr .5fr .5fr;
}


/* #hero{
    position: relative;
    background-image: url(../images/ogdenfinal.jpg);
    background-image: url(../images/ogden-img-700.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */


#hero{
    grid-column: 1/3;
    grid-row:1/2;
}

#news_release{
    grid-column: 1/3;
    grid-row:2/3;
}

#all_spotlights{
    flex-direction: row;
    grid-column: 1/3;
    grid-row: 3/4;
    justify-content: center;
    gap: 0px;
}

#spotlight1{
    width:40%;
}

#spotlight2{
    width:40%;
}

#spotlight3{
    display:none;
}

#join{
    display:block;
    grid-column: 1/3;
    grid-row:4/5;
}

#event{
    grid-column: 1/2;
    grid-row:5/6;
}

#weather{
    grid-column: 2/3;
    grid-row:5/6;
}

/* #hero-img{
    display: block;
    object-fit: cover;
} */

picture img{
    object-fit:cover;
    width:100%;
    height:100%;
}

#hero-title{
    position: absolute;
    left: 80px;
    top: 300px;
  
}
  
#hero-btn{
    position: absolute;
    top: 318px;
    left: 460px;
}

/* Discover */
#discover_content {
    max-width: 95%;
    margin: 0 auto;
    font-family: Gothic, sans-serif;
    color: black;
    background-color: #FFF0D8;
    text-align: center;
}

#discover_grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    
}

.disc_pic img:hover {
    box-shadow: 0 0 15px #333;
    /* padding: 10px; */
}

#datevisit{
    margin-top: 50px;
  }  


/* form */
#form {
    flex-direction: row;
    justify-content: space-evenly;
}

#membership {
    margin-left: 280px;
    margin-bottom: 30px;
}



}