body{
    background-color: rgb(179, 209, 204);
}
#content{
    background-color: white;
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    border-radius: 8px;
}

#site_info{
    width: 80%;
    margin: 0 auto;
}

img{
    width:200px;
}